    <label>Name: </label>
    <input [(ngModel)]="name" />
    <p>Welcome, {{ name }}!</p>

    <label>Email: </label>
    <input [(ngModel)]="email" />
    <p>Your Email: {{email}} </p>

    <label>Date of Birth: </label>
    <input [(ngModel)]="dateofbirth" />
    <p>Your Date of Birth: {{dateofbirth}}</p>


<button (click)="onReset()" [disabled]="!email && !dateofbirth && !name"> Reset</button>

<button (click)="onSave()" [disabled]="!email && !dateofbirth && !name">Save</button>

<p>Save button clicked {{count}} times.</p>