    <!-- <label>Name: </label>
    <input [formControl]="name" />
    <p>Welcome, {{ name.value }}!</p>

    <label>Email: </label>
    <input [formControl]="email" />
    <p>Your Email: {{email.value}} </p>

    <label>Date of Birth: </label>
    <input [formControl]="dateofbirth" />
    <p>Your Date of Birth: {{dateofbirth.value}}</p>


<button (click)="onReset()" [disabled]="!email.value && !dateofbirth.value && !name.value"> Reset</button>

<button (click)="onSave()" [disabled]="!email.value && !dateofbirth.value && !name.value">Save</button>

<p>Save button clicked {{count}} times.</p> -->

<!-- <app-task-list></app-task-list> -->

<!-- <app-pipeand-compo></app-pipeand-compo> -->

<!-- <app-flight-booking></app-flight-booking> -->
 <!-- <app-register></app-register>
<router-outlet></router-outlet> -->

<app-products></app-products>

