div {
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
}

label {
  font-family: 'Inter', sans-serif;
  font-size: medium;
}

input, select {
  font-family: 'Inter', sans-serif;
}

button {
  padding: 10px;
  font-family: 'Inter', sans-serif;
  width: 100px;
}